@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(216, 216, 216);
    }
    70% {
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.center-con {
    margin-top: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 3px solid #fff;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    animation: pulse 2s infinite;
}

.round span {
    z-index: 999;
    height: 3px;
    margin: 0px;
    width: 25px;
    background: #fff;
    transition: 0.4s ease;
}

.round span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.round span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.round span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.round span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}
