@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,479;1,479&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;display=swap");

/* 
шрифты:
1) vollkorn bold
2) vollkorn regular
3) opensans regular
4) opensans bold
5) opensans light
6) opensans italic
7) 

*/

html {
	/* font-size: 10px; */
	font-size: 62.5%;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.57;
	color: #383232;
	text-align: left;
	background-color: #fff;
}

body {
	min-width: 320px;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}
