@import "normalize.css";

html,
body {
	font-size: 10px;
	box-sizing: border-box;
	font-family: "Vollkorn", serif;
}

/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
	padding: 0;
	margin: 0;
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	padding: 0;
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

.fade-enter {
	opacity: 0.5;
	transition: all 0.5s ease-in;
	transform: translateY(100%);
}
.fade-enter-active {
	opacity: 1;
	transform: translateY(0%);
}
.fade-exit {
	opacity: 1;
	transform: translateY(-100%);
}
.fade-exit-active {
	transform: translateY(0%);
	opacity: 0;
	transition: all 0.5s ease-in;
}
